<div id="books-show">
  <h2>Ruby On Rails Power</h2>
  <div class="books-show-left">
    <%= image_tag 'covers/ruby_on_rails_power.jpg' %>
  </div>
  <div class="books-show-right">
    <h3>Book Info</h3>
    <ul>
      <li><strong>Category:</strong> Ruby On Rails</li>
      <li><strong>Author:</strong> Aneesha Bakharia</li>
      <li><strong>Publisher:</strong> Course Technology PTR</li>
      <li><strong>Year:</strong> 2007</li>
      <li><strong>ISBN:</strong> 1598632167</li>
      <li><strong>Format:</strong> Paperback</li>
      <li><strong>Pages:</strong> 678</li>
    </ul>
    <%= link_to 'Buy For $5.47', 'http://wwww.ebay.com/itm/Ruby-Rails-Power-Comprehensive-Guide-Power-/221475598855?pt=US_Notification_Book&hash=item3390f97207', class: 'btn btn-success', target: '_blank' %>
  </div>
  <div class="clearfix"></div>
  <h4>Excerpt</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi blanditiis culpa cumque et illo
    laboriosam sequi sint voluptas? Blanditiis distinctio in iusto labore natus placeat quia similique soluta veritatis
    vitae! Consectetur distinctio earum eius est, expedita labore minima molestias necessitatibus, neque nihil nulla
    ratione recusandae sapiente sunt voluptates. Aliquid consequatur ea, fugit iure laboriosam magnam odio perferendis
    vero.</p>
</div>